@import "./Base/_variables.scss";
@import "../Styles/Componentes/header.scss";
@import "../Styles/Componentes/main.scss";
@import "../Styles/Componentes/footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
