.cardHover {
    height: 320px;
    width: 327px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: $color-1;
    border-radius: 20px;
    color: white;
    cursor: pointer;

    @media (max-width: 480px) {
        width: 280px;
    }

    @media (max-width: 320px) {
        width: 240px;
    }




}

.cardHoverTop {
    width: 327px;
    height: 212px;

    @media (max-width: 480px) {
        width: 280px;
    }

    @media (max-width: 320px) {
        width: 240px;
    }

    img {
        width: 327px;
        height: 212px;
        border-radius: 20px 20px 0px 0px;

        @media (max-width: 480px) {
            width: 280px;
        }

        @media (max-width: 320px) {
            width: 240px;
        }

    }


}

.cardHoverBottom {

    border: 1px solid $color-2;
    height: 120px;
    width: 327px;
    border-radius: 00px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
    

    @media (max-width: 480px) {
        width: 280px;
    }

    @media (max-width: 320px) {
        width: 240px;
    }





    h2 {
        font-family: "gotham_narrowbook";
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 15px;      
    }
}

.card-hovered {
    height: 320px;
    width: 327px;
    background-color: $color-2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 480px) {
        width: 280px;
    }

    @media (max-width: 320px) {
        width: 240px;
    }

    p {
        color: white;
        padding-left: 7%;
        padding-right: 7%;
        font-family: "gotham_narrowlight";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;       
        @media (max-width: 480px) {
            font-size: 20px;
        }

    }

}