footer {
  width: 100%;

  .div-footer {
    height: 139px;
    background-color: $color-1;
    color: $color-claro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: "gotham_narrowlight";

    @media(max-width: 500px) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-evenly;
      height: 220px;
    }




    .footRight {
      margin-right: 46px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;

      p {
        cursor: pointer;

        &:hover {
          color: black;
        }
      }

      @media(max-width: 500px) {
        margin-right: 0px;
        align-items: center;


      }

      .redes {
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;

        a {
          color: white;
        }

        .redIcon {
          width: 46px;
          height: 46px;
          margin-right: 7px;
          margin-left: 7px;
          transition: 1s;

          &:hover {
            border: 2px solid #00a696;
            border-radius: 23px;
          }
        }
      }
    }

    .footLeft {
      margin-left: 34px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      cursor: pointer;

      p {
        &:hover {
          color: black;
        }
      }

      @media(max-width: 500px) {
        margin-left: 0px;
        ;
        align-items: center;
      }
    }
  }
}