footer {
  height: 80px;
  background-color: $color-2;
  color: $color-claro;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}
.footRight {
  width: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.redes{
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  a {
    color: black;
  }
}
