footer {
  .div-footer {
    height: 139px;
    background-color: $color-1;
    color: $color-claro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: "gotham_narrowlight";

    .footRight {
      width: 20%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;

      .redes {
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;

        a {
          color: white;
        }

        .redIcon {
          width: 46px;
          height: 46px;
          border: 2px solid #00a696;
          border-radius: 23px;
          margin-right: 7px;
        }
      }
    }

    .footLeft {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
