header {
  @include flex;
  gap: 10px;
  height: 80px;
  background-color: $color-1;
  color: $color-claro;
  .logo {
    height: 60px;
  }
  h1 {
    font-family: "gotham_narrowbook", sans-serif;
  }
}
