.navBar{
  background-color:  $color-1;
  display: flex;
  justify-content: space-around;
  width: 100%;
  .container {
    width: 100%;
    justify-content: space-between;
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }
}



.navRight {
  
  .links {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    

    .navLink {
      color: white;
      text-decoration: none;
      margin-inline: 14px;
    }
    .proveedor {
      text-align: center;
      background: #00A696;
      padding-top: 6px;
      margin-top: -6px;
      border: 1px solid #00A696;
      border-radius: 10px;
      width: 251px;
      height: 44px;
    }
  }}



// header {
//   .div-header {
//     @include flex;
//     justify-content: space-around;
//     gap: 10px;
//     height: 80px;
//     background-color: $color-1;
//     color: $color-claro;


//     .navLeft {
//       width: 400px;

//       a {
//         color: white;
//         text-decoration: none;
//         display: flex;
//         align-items: center;
//       }
//     }

//     .navRight {
//       width: 40%;

//       .links {
//         display: flex;
//         justify-content: space-between;
//         font-style: normal;
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 24px;

//         .navLink {
//           color: white;
//           text-decoration: none;
//         }

//         .proveedor {
//           text-align: center;
//           background: #00A696;
//           padding-top: 6px;
//           margin-top: -6px;
//           border: 1px solid #00A696;
//           border-radius: 10px;
//           width: 251px;
//           height: 44px;
//         }
//       }
//     }
//   }
// }