.navBar{
  background-color:  $color-1;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;  
  
  
  .container {
    width: 100%;
    justify-content: space-between;
    max-width: 100%;    
    margin-left: 34px;
    margin-right: 46px;
    @media (max-width: 543px){
      justify-content: center;
    }
    @media (max-width: 350px){
      margin-left: 20px;
    margin-right: 32px;
    }
    
  }
}



.navRight {
  display: flex;
  @media (max-width: 650px){
    flex-direction: column;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    @media (max-width: 650px){
      flex-direction: column;
    }
    @media (max-width: 400px){
      font-size: 15px;
    }
   

    .navLink {
      color: white;
      text-decoration: none;
      margin-inline: 27px;
      @media (max-width: 1022px){
        margin-inline: 15px;
      }
      @media (max-width: 790px){
        margin-inline: 12px;
      }
      @media (max-width: 690px){
        margin-inline: 7px;
      }
      @media (max-width: 649px){
        margin-inline: 15px;
      }
    }
  
  }}

  .botonProveedor{
    background-color: #00A696;
    align-content: center;
    border: 1px solid #00A696;
    border-radius: 10px;
    height: 44px;
    font-size: 18px;
    @media (max-width: 400px){
      font-size: 15px;
    }
  
  }


.navbar-toggler{
  @media (max-width: 650px) {
    width: 60px;
align-self: center;
  }
}