.container-home {
  background-color: $color-fondo;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 150px;
  .banner {
    position: relative;
    height: 500px;
    width: 100%;
    margin: auto;
    .banner-bg {
      border-radius: 0px 0px 150px 150px;
      -webkit-border-radius: 0px 0px 150px 150px;
      -moz-border-radius: 0px 0px 150px 150px;
      -ms-border-radius: 0px 0px 150px 150px;
      -o-border-radius: 0px 0px 150px 150px;
      overflow: hidden;
      background-image: url("../../../public/Images/medicos_grupo_2.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      @media (max-width: 500px) {
        border-radius: 0px 0px 50px 50px;
        -webkit-border-radius: 0px 0px 50px 50px;
        -moz-border-radius: 0px 0px 50px 50px;
        -ms-border-radius: 0px 0px 50px 50px;
        -o-border-radius: 0px 0px 50px 50px;
        background-position: center;
        height: 300px;
      }
      .banner-presentacion {
        display: flex;
        flex-direction: column;
        gap: 14px;
        position: absolute;
        z-index: 1;
        left: 10%;
        bottom: -90px;
        width: 500px;
        background-color: $color-claro;
        color: $color-1;
        padding: 40px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        box-shadow: rgba(58, 150, 207, 0.15) 0px 20px 25px -5px,
          rgba(58, 150, 207, 0.05) 0px 10px 10px -5px;
        @media (max-width: 625px) {
          height: auto;
          width: 90%;
          left: 0;
          bottom: -50px;
          margin: 0px 5%;
          padding: 20px;
        }
        h2 {
          font-family: "gotham_narrowmedium";
          font-size: 27px;
        }
        h3 {
          font-family: "gotham_narrowbook";
          font-size: 23px;
        }
        p {
          font-family: "gotham_narrowlight";
          font-size: 19px;
        }
        button {
          border: $color-func-2;
          font-size: 19px;
          background-color: $color-func-2;
          width: 200px;
          padding: 5px 10px;
          border-radius: 7px;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          -ms-border-radius: 7px;
          -o-border-radius: 7px;
          cursor: pointer;
          transition: 0.2s ease;
          -webkit-transition: 0.2s ease;
          -moz-transition: 0.2s ease;
          -ms-transition: 0.2s ease;
          -o-transition: 0.2s ease;
          &:hover {
            background-color: rgba($color: $color-func-2, $alpha: 0.7);
          }

          a {
            font-family: "gotham_narrowbook";
            text-decoration: none;
            color: $color-claro;
          }
        }
      }
    }
  }
  .div-presentacion {
    width: 70%;
    margin: auto;
    @media (max-width: 800px) {
      width: 90%;
      margin: auto;
    }
    p {
      font-family: "gotham_narrowmedium";
      font-size: 25px;
      text-align: center;
      @media (max-width: 800px) {
        font-size: 1rem;
      }
      span {
        font-weight: 700;
      }
    }
  }
  .div-proveedores {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      width: 90%;
      margin: auto;
    }
    h2 {
      font-family: "gotham_narrowmedium";
    }
    section {
      margin-top: 40px;
      display: grid;
      gap: 1rem;
      justify-content: space-around;
      justify-items: center;
      align-content: space-around;
      align-items: center;
      grid-template-columns: 1fr;
      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 1100px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      article {
        margin-bottom: 40px;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        box-shadow: rgba(58, 150, 207, 0.1) 0px 20px 25px -5px,
          rgba(58, 150, 207, 0.04) 0px 10px 10px -5px;
        border-radius: 20px;
        width: 300px;
        height: 300px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        overflow: hidden;

        img {
          object-fit: cover;
          height: 70%;
          width: 100%;
        }
        p {
          height: 30%;
          padding: 20px;
          text-align: center;
          font-family: "gotham_narrowbook";
        }
      }
    }
  }
  .div-afiliados {
    padding-top: 20px;
    background: rgb(42, 102, 174);
    background: linear-gradient(
      156deg,
      rgba(42, 102, 174, 1) 0%,
      rgba(58, 150, 207, 1) 100%
    );
  }
  .div-app {
    width: 100%;
    background-image: url("../../../public/Images/app-bg.jpg");
    background-size: cover;
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 60px;
    @media (max-width: 680px) {
      flex-direction: column-reverse;
    }
    .div-mockup {
      width: 40%;
      display: flex;
      justify-content: center;
      @media (max-width: 680px) {
        width: 100%;
        @include flex;
      }
    }
    .mockup {
      filter: drop-shadow(-7px 8px 18px #000);
      height: 500px;
      -webkit-filter: drop-shadow(-7px 8px 18px #000);
    }
    .app-info {
      width: 60%;
      @media (max-width: 680px) {
        @include flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
      h2 {
        font-family: "gotham_narrowblack";
        font-size: 2.5rem;
      }
      p {
        font-family: "gotham_narrowbook";
        font-size: 1.6rem;
      }
      .app-img {
        display: flex;
        gap: 20px;
        img {
          width: 150px;
        }
      }
    }
  }
}
.reveal {
  @include reveal;
}
.reveal.active {
  @include revealactive;
}
.reveal2 {
  @include reveal2;
}
.reveal2.active {
  @include reveal2active;
}
