.div-form-proveedores-top {
  background: #00a696;
  display: flex;
  width: Min(90%, 600px);
  margin: auto;
  height: 60px;
  color: $color-claro;
  font-family: "gotham_narrowbook";
  font-size: 27px;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0px;
  }
}
