.div-servicios {
  .div-banner {
    height: 500px;

    div {
      position: relative;
      background-image: url(../../../public/Images/medicobg.png);
      object-fit: cover;
      height: 650px;
      h1 {
        position: absolute;
        right: 10%;
        top: 35%;
        padding: 20px 40px;
        border-radius: 20px;
        color: $color-func-2;
        background: rgba(242, 242, 242, 0.3);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }
    }
  }
  .div-pres-servicios {
    background-color: $color-fondo;
    border-radius: 150px 150px 0px 0px;
    -webkit-border-radius: 150px 150px 0px 0px;
    -moz-border-radius: 150px 150px 0px 0px;
    -ms-border-radius: 150px 150px 0px 0px;
    -o-border-radius: 150px 150px 0px 0px;
    position: relative;
    padding-top: 70px;
    width: 100%;
    & > * {
      width: 70%;
      margin: auto;
    }
    .pres {
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        font-size: 20px;
        span {
          font-weight: 700;
        }
      }
    }
    .div-membresia {
      display: flex;
      justify-content: center;
      margin: 70px auto;
      gap: 40px;
      width: 90%;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      .div-contrato {
        background-color: $color-1;
        padding-top: 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        color: $color-claro;
        width: Min(100%, 400px);
        font-family: "gotham_narrowbook";
        @media (max-width: 768px) {
          width: Min(90%, 500px);
        }
        h3 {
          text-align: center;
          padding: 0px 50px;
          font-size: 1.8rem;
          @media (max-width: 850px) {
            font-size: 1.6rem;
          }

          .h3-span-1 {
            font-size: 3.5rem;
            @media (max-width: 850px) {
              font-size: 3rem;
            }
          }
          .h3-span-2 {
            font-size: 1.85rem;
            font-family: "gotham_narrowblack";
            letter-spacing: 5px;
            @media (max-width: 850px) {
              font-size: 1.6rem;
            }
          }
        }
        ul {
          padding: 40px 30px 10px;
          list-style: none;
          font-size: 0.9rem;
          max-width: 80%;
          margin: auto;
          @include flex;
          flex-direction: column;
          @media (max-width: 800px) {
            align-items: flex-start;
            padding: 20px;
          }
          li {
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            div {
              font-size: 2rem;
              padding-bottom: 25px;
            }
          }
        }
      }
      .div-secciones {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: Min(100%, 500px);
        .servicelink {
          text-decoration: none;
          article {
            display: flex;
            width: Min(100%, 500px);
            height: 150px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            overflow: hidden;
            align-items: center;
            box-shadow: rgba(58, 150, 207, 0.15) 0px 20px 25px -5px,
              rgba(58, 150, 207, 0.05) 0px 10px 10px -5px;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;

            &:hover {
              transform: translateX(-20px);
              -webkit-transform: translateX(-20px);
              -moz-transform: translateX(-20px);
              -ms-transform: translateX(-20px);
              -o-transform: translateX(-20px);
            }
            @media (max-width: 768px) {
              width: 100%;
            }
            div {
              display: flex;
              align-items: center;
              width: 90%;
              img {
                width: 45%;
                object-fit: cover;
                object-position: center;
                height: 150px;
              }
              h4 {
                color: $color-2;

                padding: 0px 20px;
                width: 50%;
                font-size: 1rem;
              }
            }
            .arrowico {
              width: 10%;
              text-align: center;
              color: $color-func-2;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
.reveal {
  @include reveal;
}
.reveal.active {
  @include revealactive;
}
.reveal2 {
  @include reveal2;
}
.reveal2.active {
  @include reveal2active;
}
