$color-1: #2a66ae;
$color-2: #3a96cf;
$color-3: #d1d1d1;
$color-func-1: #282840;
$color-func-2: #00a696;
$color-fondo: #f2f2f2;
$color-claro: #fdfdfd;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
